body { background-color: rgb(128, 128, 128)}
table { background-color: rgb(128, 128, 128); }
td { background-color: rgb(192, 192, 192); }
th { background: rgb(128, 128, 64); }
td, th { padding: 15px; }
#err {color: red;}